$mainColor: rgb(2, 197, 190);
$secondaryColor: rgb(94, 43, 255);
$highlightColor: rgb(158, 102, 255);

$bgColor: rgb(1, 0, 5);
$textColor: rgb(244, 247, 245);
$panelColor: rgb(203, 199, 209);

//Responsive variables
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;