@import 'variables.scss';   

$correctColor: rgb(0, 255, 38);
$guessedColor: rgb(255, 208, 0);
$wrongColor: rgb(218, 39, 11);

// For javascript
:root {
    --correctCol: rgb(0, 255, 38); // CORRECT COLOR
    --wrongCol: rgb(218, 39, 11); // WRONG COLOR
    --panelCol: rgb(203, 199, 209); // PANEL COLOR
}

.lightBackground {
    position: fixed;
    top: 30vh;
    left: 5vw;
    right: 5vw;
    bottom: 10vh;
    background: radial-gradient(circle, rgba($mainColor, 0.2), rgba($secondaryColor, 0.8));
    z-index: -1;
    border-radius: 10000px;
    animation: bgAnim 5s 0s infinite;
}
@keyframes bgAnim {
    0% {
        filter: blur(100px) hue-rotate(0deg);
    }
    50% {
        filter: blur(100px) hue-rotate(-180deg) saturate(0.2);
    }
    100% {
        filter: blur(100px) hue-rotate(-360deg);
    }
}

.quizFader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba($bgColor, 0.5), transparent 30%, transparent 70%, rgba($bgColor, 0.5));
    // For phones
    @media (max-width: $breakpoint-tablet){
        background: linear-gradient(to right, rgba($bgColor, 0.2), transparent 40%, transparent 60%, rgba($bgColor, 0.2));
    }
    z-index: 4;
    pointer-events: none;
}
.onTop {
    position: relative;
    z-index: 10;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#questionNumberContainer {
    font-weight: 200;
    font-size: 1.3rem;
    padding-top: 1em;



    #correctQuestions, #wrongQuestions, #remainingQuestions {
        border: 1.5px solid rgba($panelColor, 0.1);
        padding: 0 8px;
    }
    #correctQuestions {
        font-weight: 400;
        background: radial-gradient(circle, rgba($correctColor, 0.2), rgba($correctColor, 0.35));
        border-radius: 10px 0px 0px 10px;
    }
    #wrongQuestions {
        font-weight: 400;
        border-radius: 0px 10px 10px 0px;
        background: radial-gradient(circle, rgba($wrongColor, 0.2), rgba($wrongColor, 0.35));
    }
    #remainingQuestions {
        font-weight: 300;
        color: rgba($textColor, 0.6);

        background: radial-gradient(circle at -30%, rgba($correctColor, 0.28), rgba($panelColor, 0.09) 50%);
        background-repeat: repeat-y;

        border-color: #342c35;
        border-left-color: rgba($correctColor, 0.4);
        border-right: 0px solid rgba($wrongColor, 0.5);
        border-left: none;
        // border-radius: 0px 10px 10px 0px;
        padding: 0 16px;
    }
}

#quizForm {
    height: 100%;

    * {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    fieldset {
        position: relative;
        
        display: grid;
        grid-template-rows: 1fr 3fr;

        border: none;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100%;
        overflow: hidden;
    }

    #backButton {
        margin-top: 1em;
        text-decoration: none;
        font-family: Poppins;
        font-weight: 300;
        color: rgba($panelColor, 0.2);
        transition-duration: 0.5s;
        margin-bottom: -0.4em;
    }
    #backButton:hover {
        color: rgba($mainColor, 0.9);
        letter-spacing: 2px;
    }
    #quizTitle {
        font-family: Poppins;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        margin: 0.5em 0px;
    }

    #viewport {
        position: relative;
        width: 100vw;
        height: auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        ::-webkit-scrollbar{
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
        overscroll-behavior: none;

        background: linear-gradient(to bottom, rgba($mainColor, 0.0), rgba($secondaryColor, 0.4));

        #questionsContainer {
            position: relative;
            padding: 10vh 20vw;
            display: flex;
            width: fit-content;
            height: auto;
            gap: 10vw;
            
            @media (max-width: $breakpoint-tablet){
                height: fit-content;
                gap: 2em;
                padding: 0vh 20vw;
            }

            .question {
                scroll-snap-align: center;

                width: 60vw;
                height: auto;


                position: relative;
                border-radius: 20px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                // For phones
                @media (max-width: $breakpoint-tablet){
                    width: 85vw;
                }

                .answerList {
                    width: auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;

                    padding: 0 5vw;
                    margin-bottom: 100px;

                    // For phones
                    @media (max-width: $breakpoint-tablet){
                        padding: 0 1vw;
                        grid-template-columns: none;
                        grid-template-rows: 1fr 1fr 1fr 1fr;
                    }

                    position: relative;
                    
                    // Hide browser default radio button
                    input {
                        position: absolute;
                        opacity: 0;
                    }
                    
                    .container {
                        position: relative;
                        padding: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    .radioButton {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background: linear-gradient(to top right, rgba($panelColor, 0.1), rgba($panelColor, 0.3));
                        border: 1.5px solid rgba($panelColor, 0.2);
                        box-shadow: 0px 0px 30px 0px rgba($panelColor, 0.1);
                        border-radius: 8px;
                        z-index: -1;
                        transition: 0.4s;
                    }
                    // On hover
                    .container:hover input:not(:disabled) ~ .radioButton {
                        border: 3px solid rgba($panelColor, 0.5);
                        box-shadow: 0px 0px 30px 0px rgba($panelColor, 0.5);
                        transform: scale(1.02);
                    }
                    .container:active input:not(:disabled) ~ .radioButton {
                        transform: scale(0.96);
                    }

                    .container[disabled=""] {
                        pointer-events: none;
                    }
                    .correct {
                        background: radial-gradient(circle, rgba($correctColor, 0.6) 40%, $correctColor);
                        box-shadow: 0px 0px 30px 0px rgba($correctColor, 0.9);
                    }
                    .inactive {
                        opacity: 0.4;
                    }
                    .wrong {
                        background: radial-gradient(circle, rgba($wrongColor, 0.6) 40%, $wrongColor);
                        box-shadow: 0px 0px 30px 0px rgba($wrongColor, 0.9);
                    }
                }
            }
        }
    }
}



#quizFinishedPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba($bgColor, 0.9), rgba($bgColor, 0.3));
    z-index: 50;
    
    @media (max-width: $breakpoint-tablet){
        background: radial-gradient(circle, rgba($bgColor, 0.9), rgba($bgColor, 0.6));
        padding: 0 5vw;
    }

    opacity: 0;
    visibility: hidden;

    transition: 1s;

    transform: scale(1.2);

    backdrop-filter: blur(0px) contrast(1);
}
#quizFinishedPanel[show=""] {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    backdrop-filter: blur(8px) contrast(1.5);
}

#finishTitle {
    font-weight: 600;
}

#quizFinishedPanel .container {
    margin-top: 1em;
}
#backButton, #tryAgainButton {
    text-decoration: none;
    padding: 1em;
    margin: 0.3em;
    width: 10em;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}
#backButton {
    border: 2px solid rgba($secondaryColor, 0.3);
    background: radial-gradient(circle, rgba($secondaryColor, 0.3), rgba($secondaryColor, 0.6));
    border-right-color: rgba($secondaryColor, 0.7);
    border-left-color: rgba($secondaryColor, 0.7);
    background-repeat: repeat-y;
    box-shadow: 0px 0px 30px 0px rgba($secondaryColor, 0.6);
}
#tryAgainButton {
    border: 2px solid rgba($secondaryColor, 0.8);
    background: radial-gradient(circle, rgba($secondaryColor, 0.1), rgba($secondaryColor, 0.2));
    box-shadow: 0px 0px 30px 0px rgba($secondaryColor, 0.2);
}

#backButton:hover, #tryAgainButton:hover {
    width: 11em;
    transform: scale(1.05);
    filter: saturate(120%);
}


#finishMessage {
    margin-bottom: 0;
}

#score {
    font-weight: 800;
    font-size: 2.6rem;

    margin-bottom: 1em;
    padding: 0;
}
#score[result="high"] {
    animation: scoreAnimHigh 2s 0s infinite;
}
#score[result="medium"] {
    animation: scoreAnimMedium 2s 0s infinite;
}
#score[result="low"] {
    animation: scoreAnimLow 2s 0s infinite;
}

@keyframes scoreAnimHigh {
    0% {
        text-shadow: 0px 0px 0px rgba($correctColor, 0.6),
                     0px 4px 0px rgba($correctColor, 0.4);
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    75% {
        text-shadow: 0px 10px 5px rgba($correctColor, 0),
                     0px 10px 5px rgba($correctColor, 0);
    }
    90% {
        text-shadow: 0px 0px 0px rgba($correctColor, 0),
                     0px 4px 0px rgba($correctColor, 0);
    }
    100% {
        text-shadow: 0px 0px 0px rgba($correctColor, 0.6),
                     0px 4px 0px rgba($correctColor, 0.4);
        transform: scale(1);
    }
}
@keyframes scoreAnimMedium {
    0% {
        text-shadow: 0px 0px 0px rgba($guessedColor, 0.6),
                     0px 4px 0px rgba($guessedColor, 0.4);
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    75% {
        text-shadow: 0px 10px 5px rgba($guessedColor, 0),
                     0px 10px 5px rgba($guessedColor, 0);
    }
    90% {
        text-shadow: 0px 0px 0px rgba($guessedColor, 0),
                     0px 4px 0px rgba($guessedColor, 0);
    }
    100% {
        text-shadow: 0px 0px 0px rgba($guessedColor, 0.6),
                     0px 4px 0px rgba($guessedColor, 0.4);
        transform: scale(1);
    }
}
@keyframes scoreAnimLow {
    0% {
        text-shadow: 0px 0px 0px rgba($wrongColor, 0.6),
                     0px 4px 0px rgba($wrongColor, 0.4);
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    75% {
        text-shadow: 0px 10px 5px rgba($wrongColor, 0),
                     0px 10px 5px rgba($wrongColor, 0);
    }
    90% {
        text-shadow: 0px 0px 0px rgba($wrongColor, 0),
                     0px 4px 0px rgba($wrongColor, 0);
    }
    100% {
        text-shadow: 0px 0px 0px rgba($wrongColor, 0.6),
                     0px 4px 0px rgba($wrongColor, 0.4);
        transform: scale(1);
    }
}